<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.0/materia/bootstrap.min.css">
    <title>Health Journal</title>
     
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-light mb-4">
      
          <a href="/" class="navbar-brand text-primary">Health Journal</a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="menu">
   
    <ul class="nav navbar-nav ml-auto">
          <li  id="home"><a class="nav-link text-success h5" href="/">Home</a></li>
          <li id="compose"><a class="nav-link text-success h5" href="/compose">Compose</a></li>
          <li id="stats"><a class="nav-link text-success h5" href="/stats">Stats</a></li>
          
        </ul>
     </div>
    </nav>
    <div class="container">
    
