<%- include("partials/header") -%>

<div class="container">
    <div class="container mb-4">
        <h3 class="text-muted">Daily Average: <span class="text-muted"><%= average %></span></h3>
    </div>
    
    <form method="post" action="/stats">
        <div class="card-content p-3">
    <div class="form-group">
        <label for="dateSearch">Search Dates:</label>
        <input class="form-control w-50" type="date" name="dateSearch" id="dateSearch" />
    </div>
    <button class="btn btn-primary" type="submit" name="button">Search</button>
    
    </form>
    </div>
</div>

<%- include("partials/footer") -%>